body {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(188, 100%, 69%);
}
#container-main {
    background-color: hsl(156, 100%, 50%);
    border: none;
    border-radius: 10px;
}
#h2 {
    background-color: hsl(156, 100%, 45%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.inline {
    display: inline-block;
}
/*#left div #right div{
    cursor: pointer;
}*/
/*#direction-btns button{
    background-color: yellow;
    font-size: 1em;
    margin-right: 120px;
} */
/*.left {
    margin-right: 350px;
    width: 
} */
#view2 {
    display: none;
}
#inputs {
    background-color: hsla(180, 100%, 50%, 0.5);
}
input {
    font-size: 0.75em;
    width: 150px;
    height: 25px;
}
button {
    font-size: 0.65em;
    padding: 7.5px;
    background-color: hsla(105, 100%, 50%, 0.928);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: black;
}
#sum {
    background-color: hsla(59, 100%, 69%, 0.95);
    padding: 15px;
}
label {
    font-family:'Franklin Gothic Medium';
    font-weight: bold;
}









